<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=SERVERNAME;Database=DBNAME;User Id=USERNAME;Password=PASSWORD;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ExportQuery" value="SELECT Id, Name FROM dbo.Users" />
    <add key="ColumnMapping" value="Id=UserId,Name=FullName" />
    <add key="ExportFormat" value="CSV" />
    <add key="SftpHost" value="example.com" />
    <add key="SftpPort" value="22" />
    <add key="SftpUser" value="username" />
    <add key="SftpPassword" value="password" />
    <add key="SftpPath" value="/upload" />
    <add key="ExportIntervalMinutes" value="60" />
  </appSettings>
</configuration>
